# Python artifacts
*.pyc
*.pyo
*.egg-info/
__pycache__/
*.log

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
settings_local.py
prompt_test.py

# Virtual environment
django_env/

# IDE-specific
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
